@media only screen and (max-width: 425px) {
	.box > div {
		text-align: center;
		/*display: inline-block;*/
		display: block;
		margin: 5px auto;
	}
}

@media screen and (min-width: 768px) {	
	.box > div {
		text-align: center;
		display: inline-block;
		margin: 5px auto;
	}
}

#container {
	clear: both;
	width: 80%;
	height: 80%;
	margin: 0 auto;
	border-radius: 10px;
}

footer > p, a{
	color: #fff;
}

body {
	background-color: rgba(165,223,249,1);
	text-align: center;
}

.box p {
	font-size: 20px;
	font-weight: 600;
}

.queryPos, .queryCity, .getInglat {
	width: 270px;
	height: 120px;
	border-radius: 5px;
	margin-bottom: 20px !important;
}

.queryPos {
	background-color: rgba(239,82,133,1);
}

.queryCity {
	background-color: rgba(96,197,186,1);
}

.getInglat {
	background-color: rgba(254,238,125,1);
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
	padding: 5px;
}

footer {
	margin-top: 30px;
}
.nav, .copyright {
	display: inline-block;
	text-align: center;
}

div.nav {
	height: 21px;
	margin-right: 100px;
}
div.copyright {
	margin-left: 70px;
}
ul.info {
	margin: 0 auto;
}
ul.info li{
	margin-left: 10;
	margin-right: 10;
	list-style: none;
	padding: 0;
	float: left;
	line-height: 30px;
}

a.info {
	/*text-decoration: none;*/
	color: #000;
}